{% extends 'base.html'%}
{% import 'news_macros.html' as macro %}

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
{% endblock %}

{% block content %}
<div class="container-fluid"style="background-image:url('https://raw.githubusercontent.com/Owiti-Charles/News_Bulletins/master/app/templates/image/bg%20.jpg');background-attachment: fixed;">
    <div class="overlay container-fluid" style="background-color: rgba(39, 42, 42, 0.884);width: 100%;padding-top:20px">    
        <h2 class="text-center" style="margin-top:5%;color: white;font-family: 'ABeeZee', sans-serif;">Technology Articles</h2>
        {{macro.display_new_articles(tech)}}

        <h2 class="text-center" style="margin-top:3%; color: white;font-family: 'ABeeZee', sans-serif;">Health News Articles</h2>
        {{macro.display_new_articles(health)}}
    </div>
</div>
{% endblock %}